<ion-view title="Add Detailed Event">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header container">
		<label class="item item-input">
		<span class="input-label">Date</span>
		<input type="date">
		</label>
		StartTime :  <input ng-model="startTime"/>
		</br>
		EndTime : <input ng-model="endTime"/>
		</br>
		Note : <input ng-model="note"/>
		<br/>
		
		<input type="text" pick-a-date="date" placeholder="Select Date" /> {{ date }}
  </ion-content>
</ion-view>
