<ion-view title="My Booked Events">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
  <div class="content">
	
	
	<!--
    <div ng-repeat="event in events" type="success" class="alert ng-isolate-scope alert-success alert-dismissable" ng-class="{'alert-success' : true, 'alert-dismissable' : closeable}">
			{{event.title}}
			<br/>
			Starts in : {{event.start}}
			<button type="button" class="close" ng-click="removeEvent(event)" >
				<span aria-hidden="true">x</span>
				<span class="sr-only">Close<span>
			</button>
			<br/>
			Ends in : {{event.end}}
			
	</div>!-->
	<div class="list card">
		
		<a ng-repeat="event in events" class="item item-icon-right">
			<i ng-click="removeEvent(event)" class="icon ion-trash-b"></i>
			Starts in : {{event.start | date :'d/M/yy H:mm'}}
			</br>
			Ends in : {{event.end | date: 'd/M/yy H:mm'}}
		</a>
	</div>
  </ion-content>
</ion-view>
