<ion-view title="Calendar">
	<i class="ion-ionic"></i>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content  class="has-header" class="showScroll">	<!--scroll="false"-->
	<div class="row padding">
	<div class="col col-100" >
    <div data-tap-disabled="true" ng-show="roomNumber==0" id="calendar0" ui-calendar="uiConfig.calendar" ng-model="eventSources1" calendar="myCalendar1"></div>
	</div></div>
	<!--<div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>!-->
  </ion-content>
</ion-view>
